<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            E:\Projects\NetbeansProjects\GotdatSocialNetwork\build\web\uploads\
         </param-value>
    </context-param>
    <servlet>
        <servlet-name>Registeration</servlet-name>
        <servlet-class>servlets.Registeration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeTheme</servlet-name>
        <servlet-class>servlets.ChangeTheme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editBasicInfo</servlet-name>
        <servlet-class>servlets.editBasicInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editContactInfo</servlet-name>
        <servlet-class>servlets.editContactInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editWorkInfo</servlet-name>
        <servlet-class>servlets.editWorkInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatus</servlet-name>
        <servlet-class>servlets.UpdateStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStatus</servlet-name>
        <servlet-class>servlets.DeleteStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchFriend</servlet-name>
        <servlet-class>servlets.searchFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMyBooks</servlet-name>
        <servlet-class>servlets.AddMyBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMyBooks</servlet-name>
        <servlet-class>servlets.DeleteMyBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMyMovies</servlet-name>
        <servlet-class>servlets.AddMyMovies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMyMovies</servlet-name>
        <servlet-class>servlets.DeleteMyMovies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMyTvSerials</servlet-name>
        <servlet-class>servlets.AddMyTvSerials</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMyTvSerial</servlet-name>
        <servlet-class>servlets.DeleteMyTvSerial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessage</servlet-name>
        <servlet-class>servlets.SendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seeInbox</servlet-name>
        <servlet-class>servlets.seeInbox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Follow</servlet-name>
        <servlet-class>servlets.Follow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seeFollower</servlet-name>
        <servlet-class>servlets.seeFollower</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Unfollow</servlet-name>
        <servlet-class>servlets.Unfollow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMyAccount</servlet-name>
        <servlet-class>servlets.DeleteMyAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfilePic</servlet-name>
        <servlet-class>servlets.ChangeProfilePic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registeration</servlet-name>
        <url-pattern>/Registeration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeTheme</servlet-name>
        <url-pattern>/ChangeTheme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editBasicInfo</servlet-name>
        <url-pattern>/editBasicInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editContactInfo</servlet-name>
        <url-pattern>/editContactInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editWorkInfo</servlet-name>
        <url-pattern>/editWorkInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatus</servlet-name>
        <url-pattern>/UpdateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStatus</servlet-name>
        <url-pattern>/DeleteStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchFriend</servlet-name>
        <url-pattern>/searchFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMyBooks</servlet-name>
        <url-pattern>/AddMyBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMyBooks</servlet-name>
        <url-pattern>/DeleteMyBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMyMovies</servlet-name>
        <url-pattern>/AddMyMovies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMyMovies</servlet-name>
        <url-pattern>/DeleteMyMovies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMyTvSerials</servlet-name>
        <url-pattern>/AddMyTvSerials</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMyTvSerial</servlet-name>
        <url-pattern>/DeleteMyTvSerial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessage</servlet-name>
        <url-pattern>/SendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seeInbox</servlet-name>
        <url-pattern>/seeInbox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Follow</servlet-name>
        <url-pattern>/Follow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seeFollower</servlet-name>
        <url-pattern>/seeFollower</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Unfollow</servlet-name>
        <url-pattern>/Unfollow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMyAccount</servlet-name>
        <url-pattern>/DeleteMyAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfilePic</servlet-name>
        <url-pattern>/ChangeProfilePic</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Follow</servlet-name>
        <servlet-class>servlets.Follow</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
